* {
    font-size: 20px;
}

#add-member {
    visibility: hidden;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.new-member {
    margin-top: 20px;
}

.editBtn {
    cursor: pointer;
}

.delBtn {
    cursor: pointer;
    color: red;
}


